h1{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

h2{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
header,section,footer,aside,nav,article, hgroup{
    display: block;
}

body{
    text-align: center;
}
.agrupar {
    width: 920px;
    background: white;
    border: 1px solid black;
    margin: auto;
    padding: 40px;
}
header{
    background: #fffbb9;
    border: 1px solid #999999;
}
header h1{
    text-align: left;
    padding-left: 10;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
}
section img{
    width: 620;
    
}

nav{
    background: #ccc;
   
    text-align: left;
}

nav li{
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block

}

section{
    background:#cacfd2;
    padding: 1px;
    border: 1px;
    width: 920;
}

aside{
    text-align: center;

}

.piefinal{
    background: black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

@media  (max-width:  600px){ 
    div{ margin:  0; 
        padding:  0; 
        background: white; } } 